/*===== Variables css =====*/

:root{
	--first-color:hsl(0, 0%, 98%);
	--second-color:hsl(96, 69%, 35%);
}

/*===== Typography =====*/

html {
	font-family: 'Roboto', sans-serif;
}

@media (min-width: 576px) {
	html {
		font-size: 14px;
	}
}

@media (min-width: 768px) {
	html {
		font-size: 16px;
	}
}

@media (min-width: 992px) {
	html {
		font-size: 18px;
	}
}

@media (min-width: 1200px) {
	html {
		font-size: 20px;
	}
}

.icons-social i {
	font-size: 3em;
}

/*  Style */

main {
	display: flex;
	flex-direction: column;
	min-height: 100vh;
	justify-content: center;
	padding: 0 30px;
	text-align: center;
	background: var(--second-color);
	color: var(--first-color);
}

body{
	margin: 0;
	padding: 0;
	font-weight: normal;
}

.fa-crown {
    font-size: 3.75rem;
}

.name {
	font-family: 'Reem Kufi', sans-serif;
	font-size: 3.75em;
	font-weight: 600;
	margin-bottom:1rem;
	margin-top:1rem;
}

.tagline {
	font-size: 1.5rem;
	margin-top: 1rem;
	margin-bottom: 0.9rem;
	font-weight: 100;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid var(--first-color);
    margin: 0 auto;
    padding: 0;
	width: 30%;
}

.keywords {
	font-family: 'lobster';
    font-style: italic;
	margin-top: 0.9rem;
}

.icons-social i {
	padding: 10px;
	color: var(--first-color);
}